html, body {
    background: var(--bg1);
    color: var(--text);
	font-family: sans-serif;
	font-size: 16px;
    margin: 0;
    height: 100%;
    margin: 20px;
}

body *
{ box-sizing: border-box; }

/**** Backgrounds ****/
    button
    { background-color: var(--primary); }

    article,
    details > *,
    fieldset
    { background-color: var(--bg2); }

    input,
    select,
    textarea
    { background-color: var(--bg3); }

/**** Borders ****/
    button,
    input,
    fieldset,
    select,
    textarea
    { border: 1px solid var(--border); }

    :user-valid
    { border-color: var(--pass) }

    :user-invalid
    { border-color: var(--fail) }

    article,
    button,
    details > *,
    input,
    fieldset,
    select,
    textarea
    { border-radius: .5rem; }

    figure
	{ border-radius: 10px 10px 0 0; }

	figcaption
	{ border-radius: 0 0 10px 10px; }

	figcaption > button:first-child
	{ border-radius: 0 0 0 10px; }

	figcaption > button:last-child
	{ border-radius: 0 0 10px 0; }

/**** Text ****/
    label.required:after
    { color: var(--fail) }

    button,
    input,
    fieldset,
    label,
    legend,
    select,
    textarea
    {
        color: var(--text);
        font-size: 1rem;
    }

    label.required
    { font-size: small }

    button,
    label,
    legend,
    summary
    { font-weight:bold; }

/**** Cursor ****/
    input[type="color"],
    input[type="range"],
    label,
    button,
    select,
    summary
    { cursor: pointer; }

    [disabled]
    { cursor: not-allowed; }

/**** Shadows ****/
	button:hover,
	summary:hover
	{ box-shadow: 2px 2px 5px rgba(0,0,0,0.5); }

	button:active,
	summary:active
	{ box-shadow: none; }

/**** Structure ****/
	article
	{
		flex: 1 0 400px;
		min-width: 400px;
		padding: 10px;
	}

	blockquote
	{ margin: 0 1rem; }

    button,
    input,
    option,
    select,
    textarea
    {
        min-height: 35px;
        min-width: 35px;
        padding: .5rem;
    }

    button
    {
        display: inline-block;
        margin: .5rem;
        vertical-align: middle;
    }

    details
	{ margin: 0 10px; }

	details > *
	{
		margin: 1rem 0;
		padding: 1rem;
	}

	fieldset
	{ display: inline-block; }

    fieldset > select,
    fieldset > input
    { width: 100%; }

	figure
	{ text-align: center; }

	figcaption
	{
		align-items: stretch;
		display: flex;
	}

	figcaption > *
	{ flex: 1; }

	form
	{ width: 100%;}

	h1
	{
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}

	h2, h3
	{ margin: 1rem; }

	input[type="color"]
	{ padding: 0; }

	input,
	select
	{
		min-height: 35px;
		min-width: 35px;
		vertical-align: middle;
	}

	label
	{
		display: inline-block;
		margin: .5rem;
		vertical-align: middle;
	}

	label.required:after
	{
	    content: "Required";
	    font-size: small;
	    vertical-align: super;
	}

	li
	{ margin-bottom: 1rem; }

	option
	{ font-size: 1.2rem; }

	section
	{
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 10px;
		margin: 10px;
	}

	textarea
	{
		height: 100%;
		width: 100%;
	}

	ul, ol
	{
		margin: 1rem;
		padding: 1rem;
	}

@layer flex {
	.flex { display: flex; gap: 1rem;}
	.column { flex-direction: column }
	.column-reverse { flex-direction: column-reverse; }
	.row {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.row.bottom {
		align-items: flex-end;
	}

	.center {
		align-items: center;
	}

	.column.center {
		align-content: center;
		align-items: center;
		justify-content: center;
		justify-items: center;
	}

	.start.column,
	.start.row
	{
		align-items: center;
		justify-content: flex-start;
	}

	.start.column-reverse,
	.start.row-reverse
	{
		align-items: center;
		justify-content: flex-end;
	}

	.end.column,
	.end.row
	 {
		align-items: center;
		justify-content: flex-end;
	}

	.end.column-reverse,
	.end.row-reverse
	{
		align-items: center;
		justify-content: flex-start;
	}
} /* @flex */

@layer settings {
	#settings
	{
		align-items: stretch;
		display: flex;
		gap: 10px;
		margin: 1rem;
	}

	#settings > *
	{ flex: 1; }
}
